*.log
build/2018/images/*
build/2018/assets/img/*

build/2018/assets/css/*.min.css
build/2018/assets/css/*.css.map

build/2018/assets/js/*.js
build/2018/assets/js/*.js.map

# exclude generated html in build folder
build/*.html
build/subfolder/*.html
# include google verification html doc
# !build/google*.html

dist/
node_modules/
src/
etc
